In [1]:
tup = 1,2,3

In [2]:
tup

(1, 2, 3)

In [3]:
nested_tup = (1,2,3), (4,5)
nested_tup

((1, 2, 3), (4, 5))

In [4]:
tuple([1,3,4])

(1, 3, 4)

In [5]:
tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [10]:
tup = tuple(['foo', [1, 2], True])

In [11]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [14]:
tup + ('python', 1, 3)

('foo', [1, 2, 3], True, 'python', 1, 3)

In [15]:
a, b, c = tup
b

[1, 2, 3]

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a,b,c in seq:
    print("a={0}, b={1}, c={2}".format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [17]:
a,b, *rest = tup
a,b

('foo', [1, 2, 3])

In [18]:
rest

[True]

In [19]:
a = (1,2,3,42,1,2,34,5,2,1,3)
a.count(1)

3

In [20]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [21]:
b_list[1] = 'barplot'
b_list

['foo', 'barplot', 'baz']

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
range(10)

range(0, 10)

In [24]:
b_list.append(1)
b_list

['foo', 'barplot', 'baz', 1]

In [25]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'barplot', 'baz', 1]

In [27]:
b_list.pop(len(b_list)-1)

1

In [28]:
'red' in b_list

True

In [29]:
'foo' in tup

True

In [30]:
a_list + b_list

[2, 3, 7, None, 'foo', 'red', 'barplot', 'baz']

In [31]:
a_list.append(b_list)

In [32]:
a_list

[2, 3, 7, None, ['foo', 'red', 'barplot', 'baz']]

In [33]:
a_list.pop(len(a_list)-1)

['foo', 'red', 'barplot', 'baz']

In [34]:
a_list.extend(b_list)

In [35]:
a_list

[2, 3, 7, None, 'foo', 'red', 'barplot', 'baz']

In [36]:
a_list = a_list + b_list

In [37]:
a_list

[2, 3, 7, None, 'foo', 'red', 'barplot', 'baz', 'foo', 'red', 'barplot', 'baz']

In [38]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)

In [44]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [46]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [47]:
import bisect
c = [1,2,3,3,4,5]
bisect.bisect(c,2)

2

In [48]:
bisect.bisect(c,6)

6

In [50]:
bisect.insort(c,2)
c

[1, 2, 2, 3, 3, 4, 5]

In [51]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [52]:
seq[3:4] = [1,1]

In [53]:
seq

[7, 2, 3, 1, 1, 5, 6, 0, 1]

In [54]:
seq[1:]

[2, 3, 1, 1, 5, 6, 0, 1]

In [55]:
seq[-1:]

[1]

In [56]:
seq[-5:]

[1, 5, 6, 0, 1]

In [58]:
seq[-5:-1]

[1, 5, 6, 0]

In [59]:
seq[-1:-3]

[]

In [60]:
seq[-3:-1]

[6, 0]

In [61]:
seq[::2]

[7, 3, 1, 6, 1]

In [63]:
seq[::-1]

[1, 0, 6, 5, 1, 1, 3, 2, 7]

In [66]:
seq[:5:-1]

[1, 0, 6]

In [64]:
tup

('foo', 'bar', 'baz')

In [65]:
tup[-1]

'baz'

In [67]:
sorted(tup)

['bar', 'baz', 'foo']

In [70]:
seq

[7, 2, 3, 1, 1, 5, 6, 0, 1]

In [71]:
for i, value in enumerate(seq):
    print(i, value)

0 7
1 2
2 3
3 1
4 1
5 5
6 6
7 0
8 1

In [72]:
for i, value in enumerate(tup):
    print(i, value)

0 foo
1 bar
2 baz

In [73]:
sorted(seq)

[0, 1, 1, 1, 2, 3, 5, 6, 7]

In [76]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
list(zip(seq1, seq2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [77]:
seq3 = [True, False]
list(zip(seq1,seq2,seq3))

[('foo', 'one', True), ('bar', 'two', False)]

In [78]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [79]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)

In [80]:
first_names

('Nolan', 'Roger', 'Schilling')

In [81]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [82]:
reversed(range(10))

In [83]:
list(reversed(seq))

[1, 0, 6, 5, 1, 1, 3, 2, 7]

In [84]:
seq[::-1]

[1, 0, 6, 5, 1, 1, 3, 2, 7]

In [85]:
list(reversed(seq1))

['baz', 'bar', 'foo']

In [86]:
seq1

['foo', 'bar', 'baz']

In [87]:
empty_dict = {}
d1 = {'a': 'some value', 'b':'Python', 'c':[1,2,3,4]}
d1

{'a': 'some value', 'b': 'Python', 'c': [1, 2, 3, 4]}

In [88]:
d1[5]='loveu'
d1

{'a': 'some value', 'b': 'Python', 'c': [1, 2, 3, 4], 5: 'loveu'}

In [89]:
'b' in d1

True

In [90]:
d1[5]

'loveu'

In [92]:
d1['gly']='user'
d1

{'a': 'some value',
 'b': 'Python',
 'c': [1, 2, 3, 4],
 5: 'loveu',
 'gly': 'user'}

In [93]:
del d1['gly']

In [94]:
d1

{'a': 'some value', 'b': 'Python', 'c': [1, 2, 3, 4], 5: 'loveu'}

In [96]:
ret = d1.pop(5)

In [97]:
ret

'loveu'

In [98]:
d1

{'a': 'some value', 'b': 'Python', 'c': [1, 2, 3, 4]}

In [99]:
list(d1.keys())

['a', 'b', 'c']

In [100]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [101]:
list(d1.values())

['some value', 'Python', [1, 2, 3, 4]]

In [104]:
d1.update({'a':'this value'})
d1

{'a': 'this value', 'b': 'Python', 'c': [1, 2, 3, 4]}

In [105]:
d1.update({'d':'added value'})
d1

{'a': 'this value', 'b': 'Python', 'c': [1, 2, 3, 4], 'd': 'added value'}

In [106]:
dict(zip(seq1,seq2))

{'foo': 'one', 'bar': 'two', 'baz': 'three'}

In [107]:
d1.get('a', 'unknow')

'this value'

In [108]:
d1.get('x', 'unknow')

'unknow'

In [112]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter in by_letter:
        by_letter[letter].append(word)
    else:
        by_letter[letter] = [word]
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [113]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [116]:
from collections import defaultdict
by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)
    
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [117]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [121]:
{2,3,4,3,4}

{2, 3, 4}

In [122]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [123]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [124]:
a&b

{3, 4, 5}

In [125]:
a.add(b)

TypeError: unhashable type: 'set'

In [131]:
a.add(5000)

In [132]:
a

{1, 2, 3, 4, 5, 5000}

In [133]:
set((1,3,4,5,2,1,2))

{1, 2, 3, 4, 5}

In [134]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [135]:
my_set = {(1,2,3,4)}
my_set

{(1, 2, 3, 4)}

In [136]:
myset = set(tuple(my_data))
myset

{1, 2, 3, 4}

In [137]:
a_set = {1, 2, 3, 4, 5}
{1,2,3}.issubset(a_set)

True

In [138]:
a_set.issuperset({1,2,3})

True

In [139]:
seq1

['foo', 'bar', 'baz']

In [140]:
seq

[7, 2, 3, 1, 1, 5, 6, 0, 1]

In [141]:
[x+1 for x in seq if x<3]

[3, 2, 2, 1, 2]

In [143]:
{x+1 for x in seq if x < 3}

{1, 2, 3}

In [144]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
set(map(len, strings))

{1, 2, 3, 4, 6}

In [146]:
list(map(len,strings))

[1, 2, 3, 3, 4, 6]

In [149]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [150]:
{val : index for index,val in enumerate(strings)}

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [151]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
    
names_of_interest

['Steven']

In [152]:
result = [name for names in all_data for name in names if name.count('e')>=2]
result

['Steven']

In [153]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

result = [num for tup in some_tuples for num in tup]
result

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
def func():
    a=[]
    for i in range(5):
        a.append(i)
    return print(a)

func()

[0, 1, 2, 3, 4]

In [3]:
a

NameError: name 'a' is not defined

In [4]:
a=[]

def func():
    for i in range(5):
        a.append(i)
    return print(a)

func()

[0, 1, 2, 3, 4]

In [5]:
a

[0, 1, 2, 3, 4]

In [7]:
def f():
    a=1
    b=2
    c=3
    return a,b,c
f()

(1, 2, 3)

In [8]:
def f():
    a=1
    b=2
    c=3
    return {a,b,c}
f()

{1, 2, 3}

In [9]:
def f():
    a=1
    b=2
    c=3
    return [a,b,c]
f()

[1, 2, 3]

In [10]:
import re

In [11]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 
          'south carolina##', 'West virginia?']
states

[' Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina##',
 'West virginia?']

In [12]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [13]:
re.sub?

In [14]:
str?

In [16]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [18]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [19]:
list(map(remove_punctuation, states))

[' Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina',
 'West virginia']

In [24]:
a = lambda x: x**2
a(2)

4

In [25]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort()

In [26]:
strings

['aaaa', 'abab', 'bar', 'card', 'foo']

In [27]:
strings.sort(key = lambda x: len(set(list(x))))

In [29]:
strings

['aaaa', 'abab', 'foo', 'bar', 'card']

In [30]:
def add_numbers(x, y):
    return x + y

In [31]:
add_five = lambda y: add_numbers(5, y)

In [34]:
add_five(6)

11

In [35]:
def exp_numbers(x, y):
    return x ** y

In [36]:
from functools import partial
exp_two = partial(exp_numbers, 2)

In [37]:
exp_two(5)

32

In [38]:
exp_two = partial(exp_numbers, y=2)
exp_two(5)

25

In [39]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
dict_iterator = iter(some_dict)

In [40]:
dict_iterator

In [41]:
list(dict_iterator)

['a', 'b', 'c']

In [42]:
iter?

In [45]:
list(iter(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

list(squares())

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
set(squares(5))

Generating squares from 1 to 25

{1, 4, 9, 16, 25}

In [49]:
tuple(squares(7))

Generating squares from 1 to 49

(1, 4, 9, 16, 25, 36, 49)

In [52]:
gen = (x**2 for x in range(10))
gen

In [53]:
list(gen)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [61]:
gen2 = ((i,i**2) for i in range(5))

In [58]:
list(gen2)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [62]:
gen2 = ((i,i**2) for i in range(5))
dict(gen2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [68]:
dict(('dict'+str(i),i**2) for i in range(5))

{'dict0': 0, 'dict1': 1, 'dict2': 4, 'dict3': 9, 'dict4': 16}

In [69]:
import itertools

In [70]:
first_letter = lambda x: x[0]

In [81]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [82]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
names.sort()
names

['Adam', 'Alan', 'Albert', 'Steven', 'Wes', 'Will']

In [83]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Adam', 'Alan', 'Albert']
S ['Steven']
W ['Wes', 'Will']

In [84]:
itertools.groupby(names, first_letter)

In [91]:
float('str') # valueerror

ValueError: could not convert string to float: 'str'

In [86]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [88]:
attempt_float('str')

'str'

In [89]:
attempt_float('1234')

1234.0

In [90]:
float((1,2)) # type error

TypeError: float() argument must be a string or a number, not 'tuple'

In [92]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [93]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'