In [1]:
import numpy as np
import pandas as pd

In [14]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
obj

'\n{"name": "Wes",\n"places_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n{"name": "Katie", "age": 38,\n"pets": ["Sixes", "Stache", "Cisco"]}]\n}\n'

In [15]:
import json

In [16]:
result = json.loads(obj)

In [17]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [19]:
pd.DataFrame(result['siblings'])

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [20]:
import requests

In [21]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [22]:
resp = requests.get(url)
resp

In [23]:
data = resp.json()

In [24]:
data[0]['title']

'ENH: (Automatically) provide links to examples and the userguide within the documentation'

In [25]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])

In [26]:
issues

,number,title,labels,state
0,41125,ENH: (Automatically) provide links to examples...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
1,41124,BUG: DataFrameGroupBy.boxplot() ignores select...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,41123,CLN: rename the render process in Styler,[],open
3,41122,PERF/REF: Check use of numexpr earlier in the ...,"[{'id': 47223669, 'node_id': 'MDU6TGFiZWw0NzIy...",open
4,41121,CLN: tests.indexes.test_setops.py,[],open
5,41119,BUG: Unexpected behavior of groupby when a col...,"[{'id': 2365504893, 'node_id': 'MDU6TGFiZWwyMz...",open
6,41117,Uninformative error when parsing numbers with ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,41116,Can this be a list instead?,[],open
8,41114,REF: move dispatch methods to WrappedCythonOp,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
9,41113,Ci: start testing py310-dev,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
10,41112,UDF methods overhaul,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
11,41111,BUG: DataFrameGroupBy agg with multi-column ob...,[],open
12,41109,BUG: Check for null values when infering excel...,[],open
13,41108,BUG: read_clipboard() on excel shifts values t...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,41107,BUG: read_json not reading in large ints prope...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,41106,BUG: rolling returning mean 0 for all nan window,"[{'id': 1045950827, 'node_id': 'MDU6TGFiZWwxMD...",open
16,41105,BUG: read_csv/table raising when sys.setprofil...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,41104,[ArrayManager] Array version of fillna logic,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open
18,41103,CLN: avoid catching AttributeErorr in DataFram...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
19,41102,BUG: any/all not returning booleans for object...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,41101,CI / DOC: skip tests when only files in doc/ i...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
21,41100,BUG: `HDFStore.select` does not handle arithme...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,41098,ENH: `Styler.text_gradient`: easy extension al...,[],open
23,41097,TYP: Fix typehints for ExtensionDtype,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
24,41096,DOC/CI: fix doc build with Python 3.9,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
25,41094,ENH: read_sql_table for views,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
26,41093,April 2021 Docs Meeting,"[{'id': 2187005593, 'node_id': 'MDU6TGFiZWwyMT...",open
27,41090,DEPR: SeriesGroupBy._aggregate_named,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
28,41086,REF: hide ArrayManager implementation details ...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
29,41085,[ArrowStringArray] implement ArrowStringArray....,"[{'id': 57522093, 'node_id': 'MDU6TGFiZWw1NzUy...",open

In [27]:
import sqlalchemy as sqla

In [28]:
db= sqla.create_engine('sqlite:///mydata.sqlite')

In [29]:
pd.read_sql('select * from test', db)

OperationalError: (sqlite3.OperationalError) no such table: test
[SQL: select * from test]
(Background on this error at: http://sqlalche.me/e/e3q8)